In [1]:
import time
start_time = time.time()
import pandas as pd
import numpy as np
import gc
from tqdm import tqdm

In [3]:
pd.set_option('display.max_rows', 99)
pd.set_option('display.max_columns', 50)

import warnings

warnings.filterwarnings('ignore')


# Data path
data_path = 'data'
submission_path = ''

In [4]:
def downcast_dtypes(df):

    float_cols = [c for c in df if df[c].dtype == "float64"]
    int_cols =   [c for c in df if df[c].dtype in ["int64", "int32"]]

    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols]   = df[int_cols].astype(np.int16)

    return df

In [ ]:
# 0. Load data ----------------------------------------------------------------

print('%0.2f min: Start loading result'%((time.time() - start_time)/60))

result = pd.read_csv('%s/result/ver6_lr_stacking.csv' % data_path)
result.to_csv('ver6_lr_stacking.csv', index = False)

print('%0.2f min: Finish loading result'%((time.time() - start_time)/60))

In [7]:
sale_train = pd.read_csv('%s/sales_train_v2.csv' % data_path)
test  = pd.read_csv('%s/test.csv' % data_path)

sale_train[sale_train['item_id'] == 11373][['item_price']].sort_values(['item_price'])
sale_train[sale_train['item_id'] == 11365].sort_values(['item_price'])

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
1651714,16.05.2014,16,12,11365,124.000000,5.0
2805487,21.08.2015,31,12,11365,170.000000,2.0
1330776,13.01.2014,12,12,11365,180.000000,3.0
1398688,25.02.2014,13,12,11365,194.000000,5.0
661581,05.07.2013,6,12,11365,230.000000,4.0
2731490,30.07.2015,30,12,11365,230.000000,1.0
1398683,06.02.2014,13,12,11365,246.666667,9.0
2626123,21.05.2015,28,12,11365,248.333333,6.0
2608316,16.04.2015,27,12,11365,249.333333,15.0
1058265,29.11.2013,10,12,11365,260.867925,53.0
1547374,17.03.2014,14,12,11365,261.052632,19.0
1058291,21.11.2013,10,12,11365,263.333333,3.0
1175185,19.12.2013,11,12,11365,270.000000,8.0
2144511,17.11.2014,22,12,11365,277.500000,4.0
2258353,23.12.2014,23,12,11365,277.500000,4.0
2048715,24.10.2014,21,12,11365,305.000000,4.0
2626120,04.05.2015,28,12,11365,305.000000,4.0
302546,07.03.2013,2,12,11365,308.333333,6.0
2258351,29.12.2014,23,12,11365,318.000000,5.0
2461225,11.02.2015,25,12,11365,357.272727,11.0
1547406,20.03.2014,14,12,11365,358.888889,9.0
2865537,02.09.2015,32,12,11365,370.000000,3.0
2144500,28.11.2014,22,12,11365,377.500000,4.0
2865541,14.09.2015,32,12,11365,382.000000,5.0
1547373,04.03.2014,14,12,11365,382.000000,5.0
2909799,20.10.2015,33,12,11365,384.400000,10.0
176547,02.02.2013,1,12,11365,410.000000,3.0
1398682,05.02.2014,13,12,11365,426.875000,16.0
58352,31.01.2013,0,12,11365,430.000000,1.0
2909801,29.10.2015,33,12,11365,437.833333,6.0
1593153,07.04.2014,15,12,11365,460.000000,1.0
1830031,16.07.2014,18,12,11365,460.000000,1.0
565386,20.06.2013,5,12,11365,463.333333,6.0
2014164,26.09.2014,20,12,11365,477.500000,4.0
1398687,24.02.2014,13,12,11365,480.769231,13.0
2461224,13.02.2015,25,12,11365,485.000000,2.0
2909800,21.10.2015,33,12,11365,494.000000,4.0
2865538,03.09.2015,32,12,11365,503.333333,6.0
512059,30.05.2013,4,12,11365,503.750000,8.0
369835,25.04.2013,3,12,11365,504.000000,5.0
1175184,16.12.2013,11,12,11365,505.000000,6.0
1175094,03.12.2013,11,12,11365,508.333333,6.0
369829,11.04.2013,3,12,11365,510.000000,7.0
2626122,19.05.2015,28,12,11365,524.767442,43.0
2258324,22.12.2014,23,12,11365,528.333333,6.0
1547405,18.03.2014,14,12,11365,540.000000,1.0
1547408,24.03.2014,14,12,11365,542.500000,12.0
565383,26.06.2013,5,12,11365,548.333333,6.0
2461240,25.02.2015,25,12,11365,550.000000,5.0
...,...,...,...,...,...,...
302562,22.03.2013,2,12,11365,2155.000000,2.0
2258292,03.12.2014,23,12,11365,2160.000000,1.0
302569,10.03.2013,2,12,11365,2210.000000,1.0
1330777,09.01.2014,12,12,11365,2226.666667,3.0
58284,10.01.2013,0,12,11365,2235.000000,2.0
1547402,14.03.2014,14,12,11365,2280.000000,1.0
1398686,17.02.2014,13,12,11365,2370.000000,1.0
2805508,04.08.2015,31,12,11365,2525.000000,1.0
2805510,12.08.2015,31,12,11365,2525.000000,1.0
1830030,28.07.2014,18,12,11365,2525.000000,1.0
2731481,29.07.2015,30,12,11365,2525.000000,1.0
1398685,13.02.2014,13,12,11365,2540.000000,1.0
661585,17.07.2013,6,12,11365,2610.000000,1.0
1006889,11.10.2013,9,12,11365,2610.000000,1.0
885164,24.09.2013,8,12,11365,2640.000000,3.0
369834,18.04.2013,3,12,11365,2650.000000,1.0
2531864,03.03.2015,26,12,11365,2690.000000,1.0
1651717,28.05.2014,16,12,11365,2710.000000,1.0
2258293,01.12.2014,23,12,11365,2740.000000,1.0
885162,26.09.2013,8,12,11365,2770.000000,1.0
176594,19.02.2013,1,12,11365,2770.000000,1.0
302560,26.03.2013,2,12,11365,2775.000000,2.0
58319,24.01.2013,0,12,11365,3170.000000,1.0
661586,19.07.2013,6,12,11365,3240.000000,1.0
302561,25.03.2013,2,12,11365,3255.000000,2.0
1006895,28.10.2013,9,12,11365,3330.000000,1.0
176591,11.02.2013,1,12,11365,3340.000000,1.0
565389,05.06.2013,5,12,11365,3780.000000,1.0
1175182,06.12.2013,11,12,11365,3840.000000,1.0
512063,17.05.2013,4,12,11365,3846.666667,3.0
837027,29.08.2013,7,12,11365,3860.000000,4.0
885110,03.09.2013,8,12,11365,4038.000000,5.0
2531866,13.03.2015,26,12,11365,4110.000000,1.0
1547407,21.03.2014,14,12,11365,4140.000000,1.0
369830,12.04.2013,3,12,11365,4260.000000,1.0
302565,18.03.2013,2,12,11365,4270.000000,1.0
2805485,27.08.2015,31,12,11365,4570.000000,1.0
837031,13.08.2013,7,12,11365,4610.000000,1.0
1006892,21.10.2013,9,12,11365,4840.000000,1.0
837028,27.08.2013,7,12,11365,6040.000000,1.0
1058290,05.11.2013,10,12,11365,6500.000000,1.0
302566,14.03.2013,2,12,11365,6950.000000,1.0
885163,25.09.2013,8,12,11365,7240.000000,1.0
1006888,10.10.2013,9,12,11365,7750.000000,1.0
885161,28.09.2013,8,12,11365,9370.000000,1.0
302568,12.03.2013,2,12,11365,10540.000000,1.0
885165,23.09.2013,8,12,11365,11880.000000,1.0
302544,05.03.2013,2,12,11365,14530.000000,1.0
885138,17.09.2013,8,12,11365,59200.000000,1.0

In [8]:
 print('%0.2f min: Start loading data'%((time.time() - start_time)/60))
# Correct sale_train values

sale_train['item_price'][2909818] = np.nan

sale_train['item_cnt_day'][2909818] = np.nan

sale_train['item_price'][2909818] = sale_train[(sale_train['shop_id'] ==12) & (sale_train['item_id'] == 11373) & (sale_train['date_block_num'] == 33)]['item_price'].median()

sale_train['item_cnt_day'][2909818] = round(sale_train[(sale_train['shop_id'] ==12) & (sale_train['item_id'] == 11373) & (sale_train['date_block_num'] == 33)]['item_cnt_day'].median())

sale_train['item_price'][885138] = np.nan

sale_train['item_price'][885138] = sale_train[(sale_train['item_id'] == 11365) & (sale_train['shop_id'] ==12) & (sale_train['date_block_num'] == 8)]['item_price'].median()

test_nrow = test.shape[0]

sale_train = sale_train.merge(test[['shop_id']].drop_duplicates(), how = 'inner')

sale_train['date'] = pd.to_datetime(sale_train['date'], format = '%d.%m.%Y')

print('%0.2f min: Finish loading data'%((time.time() - start_time)/60))

328.18 min: Start loading data
328.27 min: Finish loading data

In [9]:
 # 1. Aggregate data ----------------------------------------------------------------

 from itertools import product

# For every month we create a grid from all shops/items combinations from that month

 grid = []

 for block_num in sale_train['date_block_num'].unique():

     cur_shops = sale_train[sale_train['date_block_num']==block_num]['shop_id'].unique()

     cur_items = sale_train[sale_train['date_block_num']==block_num]['item_id'].unique()

     grid.append(np.array(list(product(*[cur_shops, cur_items, [block_num]])),dtype='int32'))

 #turn the grid into pandas dataframe

 index_cols = ['shop_id', 'item_id', 'date_block_num']

 grid = pd.DataFrame(np.vstack(grid), columns = index_cols,dtype=np.int32)

 print('%0.2f min: Finish creating the grid'%((time.time() - start_time)/60))

331.16 min: Finish creating the grid

In [10]:
index_cols = ['shop_id', 'item_id', 'date_block_num']

sale_train['item_cnt_day'] = sale_train['item_cnt_day'].clip(0,20)

gb_cnt = sale_train.groupby(index_cols)['item_cnt_day'].agg(['sum']).reset_index().rename(columns = {'sum': 'item_cnt_month'})

gb_cnt['item_cnt_month'] = gb_cnt['item_cnt_month'].clip(0,20).astype(np.int)


#join aggregated data to the grid

train = pd.merge(grid,gb_cnt,how='left',on=index_cols).fillna(0)

train['item_cnt_month'] = train['item_cnt_month'].astype(int)

train = downcast_dtypes(train)


#sort the data

train.sort_values(['date_block_num','shop_id','item_id'],inplace=True)

print('%0.2f min: Finish joining gb_cnt'%((time.time() - start_time)/60))

332.50 min: Finish joining gb_cnt